<!--一覧画面の表示-->

<h1>投稿一覧</h1>

<% @lists.each do |list| %>
<!--eachメソッドはレコードの数だけ繰り返し処理を行う-->


<p>タイトル</p>
<%= link_to list.title, list_path(list.id)  %>
<!--一覧画面から詳細画面へ遷移するリンクの設定-->
<!--link_to 表示させるテキスト,リンク先url[,オプション]-->

<!--<span>< %= list.title % ></span>　3章の範囲-->
<!--list変数.カラム名と記述することでレコードのカラムの内容を表示できる-->


<% end %>